**/fonts/**/*.ttf filter=lfs diff=lfs merge=lfs -text
**/fonts/**/*.woff filter=lfs diff=lfs merge=lfs -text
**/fonts/**/*.eot filter=lfs diff=lfs merge=lfs -text
**/fonts/**/*.html filter=lfs diff=lfs merge=lfs -text
**/fonts/**/*.svg filter=lfs diff=lfs merge=lfs -text
