/**
 * Define flexible box sizing
 * More on http://bit.ly/1A91I0J
 */
html {
  box-sizing: border-box;
}

/* stylelint-disable selector-max-universal */
*, *::before, *::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  @include body-copy-font-styles;
  text-rendering: optimizeLegibility;     /* [1] */
  -webkit-font-smoothing: antialiased;    /* [2] */
  -moz-osx-font-smoothing: grayscale;     /* [3] */
  font-smoothing: antialiased;            /* stylelint-disable */
}
