@font-face {
  font-family: 'Wattermellon';
  src: url('https://102e81b89588dae95fe3fe66184c1b24.r2.cloudflarestorage.com/dot-me/fonts/wattermellon/Wattermellon.otf') format('opentype'),
    url('https://102e81b89588dae95fe3fe66184c1b24.r2.cloudflarestorage.com/dot-me/fonts/wattermellon/Wattermellon.woff') format('woff'),
    url('https://102e81b89588dae95fe3fe66184c1b24.r2.cloudflarestorage.com/dot-me/fonts/wattermellon/Wattermellon.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}