.o-contact-links {
  position: relative;
  text-align: right;

  .o-contact-links__link {
    @include link-font-styles();
    margin-left: 0.5em;
  }

  .o-contact-links__link--social {
    width: 1.2em;
    height: 1.8em;
    margin: 0 0.5em;
  }
}
