.container {
  display: grid;
  grid-template: 
    'hero' auto
    'intro' auto
    / minmax(0, 1fr);
  row-gap: 12vh;
}

.huuge {
  grid-area: hero;
  font-weight: var(--font-weight-bold);
  font-size: min(18vw, 14rem);
  line-height: 100%;
  word-wrap: break-all;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.ghosty {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
}

.intro {
  grid-area: intro;
}

p {
  color: var(--color-text-subtle);
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template:
      '. hero .' auto
      'intro intro .' auto
      / 3vw 100rem 3vw;
    justify-content: space-between;
  }
}