.huuge {
  max-inline-size: 130rem;
  font-weight: var(--font-weight-bold);
  font-size: min(18vw, 14rem);
  line-height: 100%;
  word-wrap: break-all;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.ghosty {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
}

@media screen and (min-width: 768px) {
  .huuge {
    padding-inline-start: 5vw;
    padding-inline-end: 10vw;
  }
}