@font-face {
  font-family: 'Trenda';
  src: url('../../fonts/trenda/Trenda-Light.woff') format('woff'),
    url('../../fonts/trenda/Trenda-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Trenda';
  font-weight: 600;
  src: url('../../fonts/trenda/Trenda-Semibold.woff') format('woff'),
    url('../../fonts/trenda/Trenda-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Trenda';
  font-weight: 800;
  src: url('../../fonts/trenda/Trenda-Black.woff') format('woff'),
    url('../../fonts/trenda/Trenda-Black.ttf') format('truetype');
}

:root {
  --font-family-base: 'Trenda', sans-serif;
  --font-size-xs: 1.4rem;
  --font-size-sm: 1.8rem;
  --font-size-base: 2rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 2.8rem;
}