@font-face {
  font-family: 'Trenda';
  src: url('../../fonts/trenda/Trenda-Regular.woff') format('woff'),
    url('../../fonts/trenda/Trenda-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Trenda';
  font-weight: 500;
  src: url('../../fonts/trenda/Trenda-Semibold.woff') format('woff'),
    url('../../fonts/trenda/Trenda-Semibold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Trenda';
  font-weight: 900;
  src: url('../../fonts/trenda/Trenda-Heavy.woff') format('woff'),
    url('../../fonts/trenda/Trenda-Heavy.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

:root {
  --font-family-base: 'Trenda', sans-serif;
  --font-size-xs: 1rem;
  --font-size-sm: 1.8rem;
  --font-size-base: 2rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 2.8rem;
  --font-size-xl: 6rem;
  --font-size-huuge: 9rem;

  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 900;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-xs: 1.2rem;
  }
}