// ==============================================
// Font Tools
// ==============================================





// ==============================================
// #FUNCTIONS
// ==============================================
@function calc-em($value) {
  @if global-variable-exists(base-font-size) {
    $result: (($value * 1px) / $base-font-size) * 1em;
    @return $result;
  }
  @else {
    @error
      '$base-font-size is not defined. Please be sure to define it in order\
      for `calc-em` to work.';
  }
}

@function get-font-weight($alias) {
  @if global-variable-exists(font-weights) {
    @if map-has-key($font-weights, $alias) {
      @return map-get($font-weights, $alias);
    }
  }
  @else {
    @error
      '$font-weights is not defined. Please be sure to define it in order\
      for `get-font-weight` to work.';
  }
}





// ==============================================
// #MIXINS
// ==============================================
@mixin body-copy-font-styles() {
  font-family: $font-source-sans-pro;
  font-size: 1rem;
  font-weight: #{get-font-weight('regular')};
  line-height: 1.6;
}

@mixin link-font-styles() {
  font-size: calc-em(18);
  font-weight: #{get-font-weight('black')};
  text-transform: lowercase;
  cursor: pointer;
}

@mixin hero-title-font-styles() {
  font-size: calc-em(64);
  font-weight: #{get-font-weight('black')};
  line-height: 1;
}

@mixin lead-paragraph-font-styles() {
  font-size: calc-em(24);
  font-weight: #{get-font-weight('regular')};
}

@mixin accent-font-styles() {
  font-family: $font-playfair-display;
  font-style: italic;
  letter-spacing: 1.2px;
}

@mixin modal-title-font-styles() {
  font-family: $font-source-sans-pro;
  font-weight: #{get-font-weight('black')};
  font-size: calc-em(16);
}

@mixin modal-body-font-styles() {
  font-size: calc-em(14);
}
